name: CI

on:
  push:
    branches: "**"
    pull_request:

jobs:
  test-linux:
    name: Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: swift-actions/setup-swift@v1
        with:
          swift-version: "5.7"
      - uses: actions/checkout@v3
      - run: swift build -c release

  test-mac:
    name: Mac
    runs-on: macos-12
    steps:
      - uses: swift-actions/setup-swift@v1
        with:
          swift-version: "5.7"
      - uses: actions/checkout@v3
      - run: swift build -c release
